@tailwind base;
@tailwind components;
@tailwind utilities;


.Root,body,html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  
}

.background-ui {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.background-ui .halfbg{
  width: 50%;
  height: 100%;
}
.background-ui .fullbg{
  width: 100%;
  height: 100%;
}
.navmenu{
  font-family: 'F1Font',sans-serif;
  margin-top:3vh;
}
.logocard {
  background-color: white;
  height: 5vh;
}
.constructorcard{
  font-family: 'F1Font',sans-serif;
  background-color: rgba(255, 255, 255, 0.447);
  height: 5vw;
  width: 5vw;
}
.card {
  padding: 15px;
  background-color: lightslategray;
  color: white;
  text-align: center;
  height: 5vh;
  font-size: 10px;
}
.left_cards_holder{
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  gap:10px;
  position:absolute;
  width: 15vw;
  top:10vh;
  left:10vw;
}
.contentCards_square{
  font-size: 14px;
  padding: 10px;
  background-color: lightslategray;
  color: white;
}
.navmenuchoice{
  margin-left: 5px;
  margin-right: 5px;
  
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;

  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.navmenuchoice_active{
  border-color: turquoise;
  border:1px solid;
  background-color: rgb(94, 120, 240);
  border-radius: 15px;
}
.flex_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#three-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* in front of the div */
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: auto;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none; /* allow canvas interaction underneath */
  
}

.overlay * {
  pointer-events: auto; /* enable button or text interaction */
  color: white;

}


@font-face {
  font-family: 'F1Font';
  src: url('/src/assets/fonts/Formula1-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'F1Font';
  src: url('/src/assets/fonts/Formula1-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}